<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="styles/stylesheet.css">
    </head>


    <body>
        {{>header}}
        {{>links}}
        <h1>404</h1>
        <h1>No page exists</h1>
        {{>footer}}
    </body>


</html>