<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/styles/stylesheet.css">
    </head>

    <body>
        {{>header}}
        {{>links}}
        {{>footer}}
    </body>


</html>