<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/stylesheet.css">
        <link rel="icon" href="/img/lemming.jpg"
        
    </head>

    <body>
        {{>header}}
        {{>links}}
        <h1 class="myclass">hey there man</h1>
        <img src="/img/lemming.jpg">
        <form>
            <button>
                get new word
            </button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{>footer}}
        <script src="/scripts/app.js"></script>
    </body>

</html>